/* Custom styles */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&display=swap');
@import url('http://fonts.googleapis.com/css?family=Noto+Sans');

.navbar {
  margin: 0;
  font-family: 'Noto', sans-serif;
}

.navbar-header h1 {
  margin: 0;
  font-family: 'Noto', sans-serif;
}

.navbar-header a {
  color: #4f79bd;
  font-family: 'Noto', sans-serif;
}

div.splash {
  background: #112E51;
  color: #fff;
  margin-bottom: 20px;
  padding: 40px 0;
  font-size: 22px;
}

div.splash a {
  color: #fff;
  text-decoration: underline;
  font-family: 'Noto';
  font-size: 22px;
}

p.lead {
  font-weight: 700;
}

@media (min-width: 768px) {
  .lead {
      font-size: 38px;
  }
}

.search-box {
  margin-top: 40px;
  max-width: 600px;
}

.search-box .form-control-feedback {
  right: initial;
  left: 4px;
  top: 6px;
  color: #ccc;
  font-size: 20px;
}

.search-box .form-control {
  padding-right: 12px;
  padding-left: 38px;
}

#table-container-table_filter {
  display: none;
}

body {
  font-size: 18px;
  font-family: 'Mallanna' sans-serif;
}

h2 {
font-size: 44px;
font-family: 'Mallanna', sans-serif;
}

body {
  font-size: 18px;
  font-family: 'Mallanna', sans-serif;
}

tbody tr td:nth-child(1) {
  font-size: 44px !important;
  color: #112E51;
}

tbody tr td:nth-child(n) {
font-family: 'Mallanna', sans-serif;
max-width: 25%;
}
