/* Custom styles */

.navbar {
  margin: 0;
}

.navbar-header h1 {
  margin: 0;
}

.navbar-header a {
  color: #217C80;
}

div.splash {
  background: #25979D;
  color: #fff;
  margin-bottom: 20px;
  padding: 40px 0;
}

div.splash a {
  color: #fff;
  text-decoration: underline;
}

p.lead {
  font-weight: 700;
}

@media (min-width: 768px) {
  .lead {
      font-size: 28px;
  }
}

.search-box {
  margin-top: 40px;
  max-width: 600px;
}

.search-box .form-control-feedback {
  right: initial;
  left: 4px;
  top: 6px;
  color: #ccc;
  font-size: 20px;
}

.search-box .form-control {
  padding-right: 12px;
  padding-left: 38px;
}

#table-container-table_filter {
  display: none;
}
