/* Custom styles */


@import url("http://fonts.googleapis.com/css?family=Lato:400,300,700");

.navbar {
  margin: 0;
}

.navbar-header h1 {
  margin: 0;
}

.navbar-header a {
  color: #4f79bd;
}

div.splash {
  background: #4f79bd;
  color: #fff;
  margin-bottom: 20px;
  padding: 40px 0;
  font-family: 'Lato', sans-serif !important;
}

div.splash a {
  color: #fff;
  text-decoration: underline;
}

p.lead {
  font-weight: 700;
}

@media (min-width: 768px) {
  .lead {
      font-size: 20px;
      font-family: 'Lato', sans-serif !important;
  }
}

.search-box {
  margin-top: 40px;
  max-width: 600px;
  font-family: 'Lato', sans-serif !important;
}

.search-box .form-control-feedback {
  right: initial;
  left: 4px;
  top: 6px;
  color: #ccc;
  font-size: 20px;
}

.search-box .form-control {
  padding-right: 12px;
  padding-left: 38px;
}
#table-container-table_filter {
  display: none;
}
